<header>
    <div class="container">
        <span class="bar hide"></span>
        <a href="index-2.html" class="logo"><img src="https://p7.hiclipart.com/preview/811/986/517/league-of-legends-printed-t-shirt-hoodie-league-of-legends-logo-png-image.jpg" width="100px" alt=""></a>
        <nav>
            <div class="nav-control">
                <ul>
                    
                    <li><a href="videos.html">Videos</a></li>
                    <li><a href="gallery.html">Gallery</a></li>
                    <li><a href="contact.html">Contact</a></li>
                </ul>
            </div>
        </nav>



            <div class="nav-right">
            <div class="nav-profile ">
                <a href="#" class="dropdown-toggle"> Server Status : <i class="fa fa-check  fa-10x bg-success" style="font-size: 15px;"></i>  EUW </a>
            
            </div>
            


        </div>


    </div>


</header>