<div id="wrapper">
  <section
    class="hero cover"
    style="background-image: url(https://i.ytimg.com/vi/YEMT5CVbX58/hqdefault.jpg);"
  >
    <div class="hero-bg-primary2"></div>
    <div class="container relative">
      <div class="page-header">
        <div class="page-title">
          {{ account.name }}
          <span class="badge badge-cr">{{ account.summonerLevel }}</span>
        </div>
        <a
          href="#"
          class="btn btn-inverse btn-sm btn-rounded limen ba3ad TierRank post-title"
          ><img
            src="https://cdn0.iconfinder.com/data/icons/social-network-9/50/16-128.png"
            width="30px"
          />
          twitch.tv/n3crovision
        </a>
        <a
          href="#"
          class="btn btn-inverse btn-sm btn-rounded limen ba3ad TierRank post-title"
          ><img
            src="https://gamepedia.cursecdn.com/paladins_gamepedia/2/22/VIP_logo.png"
            width="30px"
          />
          VIP
        </a>

        <div class="profile-avatar">
          <div
            class="thumbnail"
            data-toggle="tooltip"
            title=""
            data-original-title="HILOLO"
          >
            <a>
              <img
                onError="this.src='http://ddragon.leagueoflegends.com/cdn/9.23.1/img/profileicon/1.png'"
                src="http://ddragon.leagueoflegends.com/cdn/{{
                  version
                }}/img/profileicon/{{ account.profileIconId }}.png"
              />
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section
    class="profile-nav height-20  	"
    style="background-color: #fafafa;"
  ></section>

  <!--
		<div *ngFor="let aq of Matchlists.matches" >
			<pre>{{aq.platformId | json}}</pre>

		</div>
	
	
		<pre>Matchinfodata{{Matchlists.matches  | json   }}</pre>
			-->

  <section
    class="bg-grey-50 padding-top-40 padding-top-sm-30"
    style="padding: px;/* margin-top: 20px; */"
  >
    <div class="container">
      <div class="row ">
        <div
          class="col-md-4 col-sm-4 hidden-xs padding-top-40 padding-top-sm-30"
        >
          <div class="widget" *ngFor="let league of leagues">

            <app-divisions [league]="league"></app-divisions>
          </div>

          <div class="widget widget-friends">
            <div class="panel panel-default">
              <div class="panel-heading">Friends (34)</div>
              <div class="panel-body">
                <ul>
                  <li>
                    <a
                      href="#"
                      data-toggle="tooltip"
                      title=""
                      data-original-title="Orb"
                      ><img src="" alt=""
                    /></a>
                  </li>
                  <li>
                    <a
                      href="#"
                      data-toggle="tooltip"
                      title=""
                      data-original-title="Patrick"
                      ><img src="" alt=""
                    /></a>
                  </li>
                  <li>
                    <a
                      href="#"
                      data-toggle="tooltip"
                      title=""
                      data-original-title="John"
                      ><img src="" alt=""
                    /></a>
                  </li>
                  <li>
                    <a
                      href="#"
                      data-toggle="tooltip"
                      title=""
                      data-original-title="Michael"
                      ><img src="" alt=""
                    /></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-8 col-sm-8">
          <div class="matches">
            <div *ngFor="let matches of Matchlists.matches">
             
              <app-matches 
                [matches]="matches" 
                [specialid]="specialid"
                 [version]="version"
                
                >
              </app-matches>
            </div>

            
          </div>

          <ngx-spinner
            bdColor="rgba(51,51,51,0.4)"
            size="medium"
            color="#fff"
            type="ball-scale-multiple"
          >
            <p style="font-size: 20px; color: white">Chargment...</p>
          </ngx-spinner>

          <a
            style="cursor: pointer;"
            (click)="morematches()"
            class="s-rg-showmore"
            >Load More Matches...</a
          >
        </div>
      </div>
    </div>
  </section>
</div>
