	<!-- wrapper -->




	<div id="wrapper">	
		<section class="hero cover" style="background-image: url(https://i.ytimg.com/vi/YEMT5CVbX58/hqdefault.jpg);" >
			<div class="hero-bg"></div>
			<div class="container relative">
				<div class="page-header">
						
					<div class="page-title"> {{account.name}} <span class="badge badge-cr">{{account.summonerLevel}}</span></div>
					<a href="#" class="btn btn-primary btn-sm btn-rounded limen ba3ad TierRank post-title" ><img src="https://cdn0.iconfinder.com/data/icons/social-network-9/50/16-128.png" width="30px" >  mamak.com</a>
					<a href="#" class="btn btn-primary btn-sm btn-rounded limen ba3ad TierRank post-title" ><img src="https://gamepedia.cursecdn.com/paladins_gamepedia/2/22/VIP_logo.png" width="30px" > VIP</a>

					<div class="profile-avatar">
						<div class="thumbnail" data-toggle="tooltip" title="" data-original-title="YAKUZI">
							<a href="#">
							<img src="http://ddragon.leagueoflegends.com/cdn/9.22.1/img/profileicon/{{account.profileIconId}}.png" >
							
							</a>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section style="background-image: url(https://i.imgur.com/wCQqiYF.png);background-repeat: repeat; background-size: 100% 100%;"   class="profile-nav height-20 border-bottom-1 border-grey-300  hidden-xs" >
		
		</section>
		 

		<div *ngFor="let aq of Matchlists.matches" >
			<pre>{{aq.platformId | json}}</pre>

		</div>
		

		
		
		<section class="bg-grey-50 padding-top-40 padding-top-sm-30" style="padding: px;/* margin-top: 20px; */">
			<div class="container">
				<div class="row ">
					<div class="col-md-4 col-sm-4 hidden-xs padding-top-40 padding-top-sm-30">
						
						<div class="widget" *ngFor="let league of leagues" >
							<div class="panel panel-default">
								
								<div class="panel-body">
									<div class="row tblt row-eq-height">
									<div class="col-md-5 col-sm-4  ">
											<img src="/assets/img/division/{{league.tier }}.png" width="105px" class="Image   margin-top-25s">
										</div>
											<div class="col-md-7 col-sm-8   Tierinfo   ">
											<div class="center-vv">
											
							<h6  class="Tiermode"  >   {{league.queueType == 'RANKED_SOLO_5x5' ? '	
									Classé Solo' : 'Flex 5:5 Rank' }}
  												</h6>
												<div class="post-title TierRank"> {{league.tier }}  {{league.rank }}</div>
												
												<div class="TierInfo">
			<span class="LeaguePoints">
					{{league.leaguePoints }}  LP
					
			</span>
							/
						<span class="WinLose">
															<span class="wins">{{league.wins}}V </span>
						<span class="losses">{{league.losses}}D</span>
						<br>
						
						<span class=" {{(league.wins /(league.wins+league.losses)) > 0.5 ? '	
						winratio' : 'text-danger'}} " >Win Ratio {{(league.wins /(league.wins+league.losses))*100| number: '1.0-0' }}%</span>
												</span>
								
		</div>


</div>
										</div>

										</div>

									
								
								</div>
							</div>
						</div>

						
						
						
						<div class="widget widget-friends">
							<div class="panel panel-default">
								<div class="panel-heading">Friends (34)</div>
								<div class="panel-body">
									<ul>
										<li><a href="#" data-toggle="tooltip" title="" data-original-title="Orb"><img src="" alt=""></a></li>
										<li><a href="#" data-toggle="tooltip" title="" data-original-title="Patrick"><img src="" alt=""></a></li>
										<li><a href="#" data-toggle="tooltip" title="" data-original-title="John"><img src="" alt=""></a></li>
										<li><a href="#" data-toggle="tooltip" title="" data-original-title="Michael"><img src="" alt=""></a></li>
									</ul>
								</div>
							</div>
						</div>
						
						
					</div>
					
					<div class="col-md-8 col-sm-8">
					
						
							<div class="matches">
							
									<div class="match1" *ngFor="let Matchlist of Matchlists.matches" style="margin-top: 40px;" >
										
												
	
												<div class="s-m-t victory-bg1 cf ">
												<span class="victory-text1">Ranked 5v5</span>
												<span class="sep victory-text2"> - </span>
												<span class="victory-text1 ">{{Matchlist.timestamp | date }}</span>
												<span class="sep victory-text2"> - </span>
												<span class="time victory-text3"> 21mins</span>
												<div class="result victory-text1">VICTORY</div>
												</div>
	
											
												<div class="s-m-m victory-bg2 ">
													<div class="match-con1">
														<a >
	<img height="100" width="100" class="img-fluid" src="https://opgg-static.akamaized.net/images/lol/champion/Thresh.png" alt="Aatrox">
	</a>
	
	<img width="34" height="34" class="s1 " src="https://ddragon.leagueoflegends.com/cdn/9.21.1/img/spell/SummonerFlash.png" alt="Flash">
	<img width="34" height="34" class="s2 " src="https://ddragon.leagueoflegends.com/cdn/9.21.1/img/spell/SummonerTeleport.png" alt="">
	
	
	
														</div>
													<div class="match-con2">
	
														<span class="kda victory-text1">
	<span class="num">0</span> <span class="victory-text2"> / </span>
	<span class="num" style="color:#A93D3D;">4</span> <span class="victory-text2"> / </span>
	<span class="num">8</span>
	</span>
	
	<span class="kda2 victory-text2">2.00 KDA</span>
	
	
														</div>
													<div class="match-con3">
														
	
	<span class="pos victory-text1">
	 {{Matchlist.lane | titlecase  }}		</span>
	<span class="lvl victory-text2">Lv 12 / 8,181G</span>
	<span class="cs victory-text2"><span >157 CS</span> / <span class="kp">KP23%</span></span>
	<span class="defeat-bg1 kills defeat-text4">Double Kill <small>(1)</small></span>
	
	
	
														</div>
													<div class="match-con4">
	
	
														<img width="30" height="30" class="item0 " alt="Black Cleaver" src="https://lolprofile.net/web/img/item-1.png">
	
														<img width="30" height="30" class="item0 " alt="Black Cleaver" src="https://ddragon.leagueoflegends.com/cdn/9.21.1/img/item/3071.png">
	
														<img width="30" height="30" class="item0 " alt="Black Cleaver" src="https://ddragon.leagueoflegends.com/cdn/9.21.1/img/item/3071.png">
	
	
														<img width="30" height="30" class="item0 " alt="Black Cleaver" src="https://ddragon.leagueoflegends.com/cdn/9.21.1/img/item/3071.png">
	
	
														<img width="30" height="30" class="item0 " alt="Black Cleaver" src="https://ddragon.leagueoflegends.com/cdn/9.21.1/img/item/3071.png">
	
	
														<img width="30" height="30" class="item0 " alt="Black Cleaver" src="https://ddragon.leagueoflegends.com/cdn/9.21.1/img/item/3071.png">
	
	
														<img width="30" height="30" class="item0 " alt="Black Cleaver" src="https://ddragon.leagueoflegends.com/cdn/9.21.1/img/item/3071.png">
													</div>
	
													<div class="match-con5">
	
	
														<div >
	<table class="table-auto match-summoners-table">
	<tbody><tr>
	<td>
	<a ><img width="14" height="14"  src="https://ddragon.leagueoflegends.com/cdn/9.21.1/img/champion/XinZhao.png" alt="Xin Zhao"></a>
	</td>
	<td>
	<div>
	<a class="victory-text4 " >
	JustCh1llin	</a>
	</div>
	</td>
	</tr>
	<tr>
	<td>
	<a ><img width="14" height="14"  src="https://ddragon.leagueoflegends.com/cdn/9.21.1/img/champion/Jinx.png" alt="Jinx"></a>
	</td>
	<td>
	<div>
	<a class="victory-text4 " >
	wartom83	</a>
	</div>
	</td>
	</tr>
	<tr>
	<td>
	<a ><img width="14" height="14"  src="https://ddragon.leagueoflegends.com/cdn/9.21.1/img/champion/Yasuo.png" alt="Yasuo"></a>
	</td>
	<td>
	<div>
	<a class="victory-text4 ">
	Skywalker Main	</a>
	</div>
	</td>
	</tr>
	<tr>
	<td>
	<a ><img width="14" height="14"  src="https://ddragon.leagueoflegends.com/cdn/9.21.1/img/champion/Bard.png" alt="Bard"></a>
	</td>
	<td>
	<div>
	<a class="victory-text4 " >
	pinono77	</a>
	</div>
	</td>
	</tr>
	<tr>
	<td>
	<a ><img width="14" height="14"  src="https://ddragon.leagueoflegends.com/cdn/9.21.1/img/champion/Jayce.png" alt="Jayce"></a>
	</td>
	<td>
	<div>
	<a class="victory-text4 " >
	Stewroids66	</a>
	</div>
	</td>
	</tr>
	</tbody></table>
	</div>
	
	<div>
	<table class="table-auto match-summoners-table">
	<tbody><tr>
	<td>
	<a ><img width="14" height="14"  src="https://ddragon.leagueoflegends.com/cdn/9.21.1/img/champion/XinZhao.png" alt="Xin Zhao"></a>
	</td>
	<td>
	<div>
	<a class="victory-text4 " >
	JustCh1llin	</a>
	</div>
	</td>
	</tr>
	<tr>
	<td>
	<a ><img width="14" height="14"  src="https://ddragon.leagueoflegends.com/cdn/9.21.1/img/champion/Jinx.png" alt="Jinx"></a>
	</td>
	<td>
	<div>
	<a class="victory-text4 " >
	wartom83	</a>
	</div>
	</td>
	</tr>
	<tr>
	<td>
	<a ><img width="14" height="14" src="https://ddragon.leagueoflegends.com/cdn/9.21.1/img/champion/Yasuo.png" alt="Yasuo"></a>
	</td>
	<td>
	<div>
	<a class="victory-text4 " >
	Skywalker Main	</a>
	</div>
	</td>
	</tr>
	<tr>
	<td>
	<a ><img width="14" height="14"  src="https://ddragon.leagueoflegends.com/cdn/9.21.1/img/champion/Bard.png" alt="Bard"></a>
	</td>
	<td>
	<div>
	<a class="victory-text4 " >
	pinono77	</a>
	</div>
	</td>
	</tr>
	<tr>
	<td>
	<a ><img width="14" height="14"  src="https://ddragon.leagueoflegends.com/cdn/9.21.1/img/champion/Jayce.png" alt="Jayce"></a>
	</td>
	<td>
	<div>
	<a class="victory-text4 " >
	Stewroids66	</a>
	</div>
	</td>
	</tr>
	</tbody></table>
	</div>
														</div>
													
												
												</div>
	
										
									</div>


									
									<div class="match1" style="margin-top:30px;">
											
												
	
											<div class="s-m-t defeat-bg1 cf ">
											<span class="victory-text1">Ranked 5v5</span>
											<span class="sep victory-text2"> - </span>
											<span class="victory-text1 ">1 day ago</span>
											<span class="sep victory-text2"> - </span>
											<span class="time victory-text3"> 21mins</span>
											<div class="result victory-text1">DEFEAT</div>
											</div>

										
											<div class="s-m-m defeat-bg2 ">
												<div class="match-con1">
													<a >
<img height="100" width="100" class="img-fluid" src="https://opgg-static.akamaized.net/images/lol/champion/Thresh.png" alt="Aatrox">
</a>

<img width="34" height="34" class="s1 " src="https://ddragon.leagueoflegends.com/cdn/9.21.1/img/spell/SummonerFlash.png" alt="Flash">
<img width="34" height="34" class="s2 " src="https://ddragon.leagueoflegends.com/cdn/9.21.1/img/spell/SummonerTeleport.png" alt="">



													</div>
												<div class="match-con2">

													<span class="kda victory-text1">
<span class="num">0</span> <span class="victory-text2"> / </span>
<span class="num" style="color:#A93D3D;">4</span> <span class="victory-text2"> / </span>
<span class="num">8</span>
</span>

<span class="kda2 victory-text2">2.00 KDA</span>


													</div>
												<div class="match-con3">

<span class="pos victory-text1">
Top	| Duo	</span>
<span class="lvl victory-text2">Lv 12 / 8,181G</span>
<span class="cs victory-text2"><span >157 CS</span> / <span class="kp">KP23%</span></span>
<span class="defeat-bg1 kills defeat-text4">Double Kill <small>(1)</small></span>



													</div>
												<div class="match-con4">


													<img width="30" height="30" class="item0 " alt="Black Cleaver" src="https://lolprofile.net/web/img/item-1.png">

													<img width="30" height="30" class="item0 " alt="Black Cleaver" src="https://ddragon.leagueoflegends.com/cdn/9.21.1/img/item/3071.png">

													<img width="30" height="30" class="item0 " alt="Black Cleaver" src="https://ddragon.leagueoflegends.com/cdn/9.21.1/img/item/3071.png">


													<img width="30" height="30" class="item0 " alt="Black Cleaver" src="https://ddragon.leagueoflegends.com/cdn/9.21.1/img/item/3071.png">


													<img width="30" height="30" class="item0 " alt="Black Cleaver" src="https://ddragon.leagueoflegends.com/cdn/9.21.1/img/item/3071.png">


													<img width="30" height="30" class="item0 " alt="Black Cleaver" src="https://ddragon.leagueoflegends.com/cdn/9.21.1/img/item/3071.png">


													<img width="30" height="30" class="item0 " alt="Black Cleaver" src="https://ddragon.leagueoflegends.com/cdn/9.21.1/img/item/3071.png">
												</div>

												<div class="match-con5">


													<div >
<table class="table-auto match-summoners-table">
<tbody><tr>
<td>
<a ><img width="14" height="14"  src="https://ddragon.leagueoflegends.com/cdn/9.21.1/img/champion/XinZhao.png" alt="Xin Zhao"></a>
</td>
<td>
<div>
<a class="victory-text4 " >
JustCh1llin	</a>
</div>
</td>
</tr>
<tr>
<td>
<a ><img width="14" height="14"  src="https://ddragon.leagueoflegends.com/cdn/9.21.1/img/champion/Jinx.png" alt="Jinx"></a>
</td>
<td>
<div>
<a class="victory-text4 " >
wartom83	</a>
</div>
</td>
</tr>
<tr>
<td>
<a ><img width="14" height="14"  src="https://ddragon.leagueoflegends.com/cdn/9.21.1/img/champion/Yasuo.png" alt="Yasuo"></a>
</td>
<td>
<div>
<a class="victory-text4 ">
Skywalker Main	</a>
</div>
</td>
</tr>
<tr>
<td>
<a ><img width="14" height="14"  src="https://ddragon.leagueoflegends.com/cdn/9.21.1/img/champion/Bard.png" alt="Bard"></a>
</td>
<td>
<div>
<a class="victory-text4 " >
pinono77	</a>
</div>
</td>
</tr>
<tr>
<td>
<a ><img width="14" height="14"  src="https://ddragon.leagueoflegends.com/cdn/9.21.1/img/champion/Jayce.png" alt="Jayce"></a>
</td>
<td>
<div>
<a class="victory-text4 " >
Stewroids66	</a>
</div>
</td>
</tr>
</tbody></table>
</div>

<div>
<table class="table-auto match-summoners-table">
<tbody><tr>
<td>
<a ><img width="14" height="14"  src="https://ddragon.leagueoflegends.com/cdn/9.21.1/img/champion/XinZhao.png" alt="Xin Zhao"></a>
</td>
<td>
<div>
<a class="victory-text4 " >
JustCh1llin	</a>
</div>
</td>
</tr>
<tr>
<td>
<a ><img width="14" height="14"  src="https://ddragon.leagueoflegends.com/cdn/9.21.1/img/champion/Jinx.png" alt="Jinx"></a>
</td>
<td>
<div>
<a class="victory-text4 " >
wartom83	</a>
</div>
</td>
</tr>
<tr>
<td>
<a ><img width="14" height="14" src="https://ddragon.leagueoflegends.com/cdn/9.21.1/img/champion/Yasuo.png" alt="Yasuo"></a>
</td>
<td>
<div>
<a class="victory-text4 " >
Skywalker Main	</a>
</div>
</td>
</tr>
<tr>
<td>
<a ><img width="14" height="14"  src="https://ddragon.leagueoflegends.com/cdn/9.21.1/img/champion/Bard.png" alt="Bard"></a>
</td>
<td>
<div>
<a class="victory-text4 " >
pinono77	</a>
</div>
</td>
</tr>
<tr>
<td>
<a ><img width="14" height="14"  src="https://ddragon.leagueoflegends.com/cdn/9.21.1/img/champion/Jayce.png" alt="Jayce"></a>
</td>
<td>
<div>
<a class="victory-text4 " >
Stewroids66	</a>
</div>
</td>
</tr>
</tbody></table>
</div>
													</div>
												
											
											</div>

									
								</div>


									
								
	
							</div>
	
						
					
						
						
						
						

					</div>

					


				

				</div>
			</div>
		</section>
	</div>



