	<!-- wrapper -->
	<div id="wrapper">	
		<section class="error-404" style="background-image: url(/assets/img/content/404.jpg);">
			<div class="container">
				<div class="row">
					<div class="col-lg-8 col-lg-offset-2">
						<div class="title">
							<h4><i class="fa fa-bug"></i>Page Introuvable</h4>
						</div>
						<p>La page demandée est introuvable.</p>
                    
                        
						<a href="#" class="btn btn-primary btn-lg margin-top-20 btn-shadow btn-rounded">Back to home</a>
					</div>
				</div>
			</div>
		</section>
	</div>
	<!-- /#wrapper -->