  <div *ngIf="matches.Matchinfo">
                <div *ngFor="let part of matches.Matchinfo.participantIdentities">
                  <div *ngIf="part.player.summonerId == specialid">
                    <div class="match1" style="margin-top: 40px;">
                      <div
                        class="s-m-t  cf {{
                          matches.Matchinfo.participants[part.participantId - 1]
                            .stats.win
                            ? '	
													victory-bg1'
                            : 'defeat-bg1'
                        }}  "
                      >
                        <span class="victory-text1">
                          {{ matches.Matchinfo.queueId | quenne }}
                        </span>
                        <span class="sep victory-text2"> - </span>
                        <span class="victory-text1 ">
                          {{ matches.timestamp | date: "dd MMM" }}
                        </span>
                        <span class="sep victory-text2"> - </span>
                        <span class="time victory-text3">
                          {{
                            matches.Matchinfo.gameDuration / 60 | number: "1.0-0"
                          }}
                          mins</span
                        >
                        <div class="result victory-text1">
                          {{
                            matches.Matchinfo.participants[part.participantId - 1]
                              .stats.win
                              ? "	
														VICTORY"
                              : "DEFEAT"
                          }}
                        </div>
                      </div>

                      <div
                        class="s-m-m  {{
                          matches.Matchinfo.participants[part.participantId - 1]
                            .stats.win
                            ? '	
												victory-bg2'
                            : 'defeat-bg2'
                        }} "
                      >
                        <div class="match-con1">
                          <a>
                            <img
                              height="100"
                              width="100"
                              class="img-fluid rounded"
                              src="http://ddragon.leagueoflegends.com/cdn/{{
                                version
                              }}/img/champion/{{
                                matches.Matchinfo.participants[
                                  part.participantId - 1
                                ].championId | championname
                              }}.png"
                              alt="Ryze"
                            />
                          </a>

                          <img
                            width="37"
                            height="37"
                            class="s1 "
                            src="https://ddragon.leagueoflegends.com/cdn/{{
                              version
                            }}/img/spell/	{{
                              matches.Matchinfo.participants[part.participantId - 1]
                                .spell1Id | summonerSpell
                            }}.png"
                            alt="Flash"
                          />
                          <img
                            width="37"
                            height="37"
                            class="s2 "
                            src="https://ddragon.leagueoflegends.com/cdn/{{
                              version
                            }}/img/spell/	{{
                              matches.Matchinfo.participants[part.participantId - 1]
                                .spell2Id | summonerSpell
                            }}.png"
                            alt="gag"
                          />
                        </div>

                        <div class="match-con2">
                          <span class="kda victory-text1">
                            <span class="num">
                              {{
                                matches.Matchinfo.participants[
                                  part.participantId - 1
                                ].stats.kills
                              }}</span
                            >
                            <span class="victory-text2"> / </span>
                            <span class="num" style="color:#A93D3D;">
                              {{
                                matches.Matchinfo.participants[
                                  part.participantId - 1
                                ].stats.deaths
                              }}
                            </span>
                            <span class="victory-text2"> / </span>
                            <span class="num">{{
                              matches.Matchinfo.participants[part.participantId - 1]
                                .stats.assists
                            }}</span>
                          </span>

                          <ng-container
                            *ngIf="
                              matches.Matchinfo.participants[part.participantId - 1]
                                .stats.deaths == 0;
                              then loggedIn;
                              else loggedOut
                            "
                          >
                          </ng-container>
                          <ng-template #loggedIn>
                            <span class="kda3 victory-text2 ">Perfect KDA</span>
                          </ng-template>
                          <ng-template #loggedOut>
                            <span class="kda2 victory-text2"
                              >{{
                                (matches.Matchinfo.participants[
                                  part.participantId - 1
                                ].stats.kills +
                                  matches.Matchinfo.participants[
                                    part.participantId - 1
                                  ].stats.assists) /
                                  matches.Matchinfo.participants[
                                    part.participantId - 1
                                  ].stats.deaths | number: "1.2-2"
                              }}
                              KDA</span
                            >
                          </ng-template>
                        </div>

                        <div class="match-con3">
                          <span class="pos victory-text1">
                            {{
                              (matches.lane | titlecase) == "None"
                                ? "	
			Fill"
                                : (matches.lane | titlecase)
                            }}
                          </span>
                          <span class="lvl victory-text2"
                            >LvL
                            {{
                              matches.Matchinfo.participants[part.participantId - 1]
                                .stats.champLevel
                            }}
                            /
                            {{
                              matches.Matchinfo.participants[part.participantId - 1]
                                .stats.goldEarned | number: "2."
                            }}
                            G</span
                          >
                          <span class="cs victory-text2"
                            ><span
                              >{{
                                matches.Matchinfo.participants[
                                  part.participantId - 1
                                ].stats.totalMinionsKilled
                              }}
                              CS</span
                            >
                            /
                            <span class="kp"
                              >D
                              {{
                                matches.Matchinfo.participants[
                                  part.participantId - 1
                                ].stats.totalDamageDealt | shortnumber
                              }}
                            </span></span
                          >
                          <!-- <span class="defeat-bg1 kills defeat-text4">Double Kill <small>(1)</small></span> -->
                        </div>
                        <div class="match-con4">
                          <div
                            *ngIf="matches.Matchinfo.participants[part.participantId - 1].stats.item0 != '0';
                              then item0;
                              else item0else
                            "
                          ></div>
                          <ng-template #item0>
                            <img
                              width="30"
                              height="30"
                              class="item0 "
                              alt="item0"
                              onError="this.src='https://lolprofile.net/web/img/item-1.png'"
                              src="https://ddragon.leagueoflegends.com/cdn/{{
                                version
                              }}/img/item/	{{
                                matches.Matchinfo.participants[
                                  part.participantId - 1
                                ].stats.item0
                              }}	.png"
                            />
                          </ng-template>
                          <ng-template #item0else>
                            <img
                              width="30"
                              height="30"
                              class="item0 "
                              alt="iteem0"
                              src="https://lolprofile.net/web/img/item-1.png"
                            />
                          </ng-template>

                          <div
                            *ngIf="
                              matches.Matchinfo.participants[part.participantId - 1]
                                .stats.item1 != '0';
                              then item1;
                              else item1else
                            "
                          ></div>
                          <ng-template #item1>
                            <img
                              width="30"
                              height="30"
                              class="item0 "
                              alt="item0"
                              onError="this.src='https://lolprofile.net/web/img/item-1.png'"
                              src="https://ddragon.leagueoflegends.com/cdn/{{
                                version
                              }}/img/item/	{{
                                matches.Matchinfo.participants[
                                  part.participantId - 1
                                ].stats.item1
                              }}	.png"
                            />
                          </ng-template>
                          <ng-template #item1else>
                            <img
                              width="30"
                              height="30"
                              class="item0 "
                              alt="iteem0"
                              src="https://lolprofile.net/web/img/item-1.png"
                            />
                          </ng-template>

                          <div
                            *ngIf="
                              matches.Matchinfo.participants[part.participantId - 1]
                                .stats.item2 != '0';
                              then item2;
                              else item2else
                            "
                          ></div>
                          <ng-template #item2>
                            <img
                              width="30"
                              height="30"
                              class="item0 "
                              alt="item0"
                              onError="this.src='https://lolprofile.net/web/img/item-1.png'"
                              src="https://ddragon.leagueoflegends.com/cdn/{{
                                version
                              }}/img/item/	{{
                                matches.Matchinfo.participants[
                                  part.participantId - 1
                                ].stats.item2
                              }}	.png"
                            />
                          </ng-template>
                          <ng-template #item2else>
                            <img
                              width="30"
                              height="30"
                              class="item0 "
                              alt="iteem0"
                              src="https://lolprofile.net/web/img/item-1.png"
                            />
                          </ng-template>

                          <div
                            *ngIf="
                              matches.Matchinfo.participants[part.participantId - 1]
                                .stats.item6 != '0';
                              then item6;
                              else item6else
                            "
                          ></div>
                          <ng-template #item6>
                            <img
                              width="30"
                              height="30"
                              class="item0 "
                              alt="item0"
                              onError="this.src='https://lolprofile.net/web/img/item-1.png'"
                              src="https://ddragon.leagueoflegends.com/cdn/{{
                                version
                              }}/img/item/	{{
                                matches.Matchinfo.participants[
                                  part.participantId - 1
                                ].stats.item6
                              }}	.png"
                            />
                          </ng-template>
                          <ng-template #item6else>
                            <img
                              width="30"
                              height="30"
                              class="item0 "
                              alt="iteem0"
                              src="https://lolprofile.net/web/img/item-1.png"
                            />
                          </ng-template>

                          <div
                            *ngIf="
                              matches.Matchinfo.participants[part.participantId - 1]
                                .stats.item3 != '0';
                              then item3;
                              else item3else
                            "
                          ></div>
                          <ng-template #item3>
                            <img
                              width="30"
                              height="30"
                              class="item0 "
                              alt="item0"
                              onError="this.src='https://lolprofile.net/web/img/item-1.png'"
                              src="https://ddragon.leagueoflegends.com/cdn/{{
                                version
                              }}/img/item/	{{
                                matches.Matchinfo.participants[
                                  part.participantId - 1
                                ].stats.item3
                              }}	.png"
                            />
                          </ng-template>
                          <ng-template #item3else>
                            <img
                              width="30"
                              height="30"
                              class="item0 "
                              alt="iteem0"
                              src="https://lolprofile.net/web/img/item-1.png"
                            />
                          </ng-template>

                          <div
                            *ngIf="
                              matches.Matchinfo.participants[part.participantId - 1]
                                .stats.item4 != '0';
                              then item4;
                              else item4else
                            "
                          ></div>
                          <ng-template #item4>
                            <img
                              width="30"
                              height="30"
                              class="item0 "
                              alt="item0"
                              onError="this.src='https://lolprofile.net/web/img/item-1.png'"
                              src="https://ddragon.leagueoflegends.com/cdn/{{
                                version
                              }}/img/item/	{{
                                matches.Matchinfo.participants[
                                  part.participantId - 1
                                ].stats.item4
                              }}	.png"
                            />
                          </ng-template>
                          <ng-template #item4else>
                            <img
                              width="30"
                              height="30"
                              class="item0 "
                              alt="iteem0"
                              src="https://lolprofile.net/web/img/item-1.png"
                            />
                          </ng-template>

                          <div
                            *ngIf="
                              matches.Matchinfo.participants[part.participantId - 1]
                                .stats.item5 != '0';
                              then item5;
                              else item5else
                            "
                          ></div>
                          <ng-template #item5>
                            <img
                              width="30"
                              height="30"
                              class="item0 "
                              alt="item0"
                              onError="this.src='https://lolprofile.net/web/img/item-1.png'"
                              src="https://ddragon.leagueoflegends.com/cdn/{{
                                version
                              }}/img/item/	{{
                                matches.Matchinfo.participants[
                                  part.participantId - 1
                                ].stats.item5
                              }}	.png"
                            />
                          </ng-template>
                          <ng-template #item5else>
                            <img
                              width="30"
                              height="30"
                              class="item0 "
                              alt="iteem0"
                              src="https://lolprofile.net/web/img/item-1.png"
                            />
                          </ng-template>
                        </div>

                        <div class="match-con5">
                          <div>
                            <table class="table-auto match-summoners-table">
                              <tbody>
                                <tr>
                                  <td>
                                    <a
                                      ><img
                                        width="14"
                                        height="14"
                                        src="https://ddragon.leagueoflegends.com/cdn/{{
                                          version
                                        }}/img/champion/{{
                                          matches.Matchinfo.participants[0]
                                            .championId | championname
                                        }}.png"
                                        alt="{{
                                          matches.Matchinfo.participants[0]
                                            .championId | championname
                                        }}"
                                    /></a>
                                  </td>
                                  <td>
                                    <div>
                                      <a
                                        class="victory-text4 "
                                        data-toggle="tooltip "
                                        data-placement="left"
                                        title="Tooltip on left"
                                        title="{{
                                          matches.Matchinfo.participantIdentities[0]
                                            .player.summonerName
                                        }}"
                                      >
                                        {{
                                          matches.Matchinfo.participantIdentities[0]
                                            .player.summonerName.length > 10
                                            ? (matches.Matchinfo
                                                .participantIdentities[0].player
                                                .summonerName | slice: 0:10) +
                                              "..."
                                            : matches.Matchinfo
                                                .participantIdentities[0].player
                                                .summonerName
                                        }}
                                      </a>
                                    </div>
                                  </td>
                                </tr>
                                <tr>
                                  <td>
                                    <a
                                      ><img
                                        width="14"
                                        height="14"
                                        src="https://ddragon.leagueoflegends.com/cdn/{{
                                          version
                                        }}/img/champion/{{
                                          matches.Matchinfo.participants[1]
                                            .championId | championname
                                        }}.png"
                                        alt="{{
                                          matches.Matchinfo.participants[1]
                                            .championId | championname
                                        }}"
                                    /></a>
                                  </td>
                                  <td>
                                    <div>
                                      <a
                                        class="victory-text4 "
                                        data-toggle="tooltip"
                                        title="{{
                                          matches.Matchinfo.participantIdentities[1]
                                            .player.summonerName
                                        }}"
                                      >
                                        {{
                                          matches.Matchinfo.participantIdentities[1]
                                            .player.summonerName.length > 10
                                            ? (matches.Matchinfo
                                                .participantIdentities[1].player
                                                .summonerName | slice: 0:10) +
                                              "..."
                                            : matches.Matchinfo
                                                .participantIdentities[1].player
                                                .summonerName
                                        }}
                                      </a>
                                    </div>
                                  </td>
                                </tr>
                                <tr>
                                  <td>
                                    <a
                                      ><img
                                        width="14"
                                        height="14"
                                        src="https://ddragon.leagueoflegends.com/cdn/{{
                                          version
                                        }}/img/champion/{{
                                          matches.Matchinfo.participants[2]
                                            .championId | championname
                                        }}.png"
                                        alt="{{
                                          matches.Matchinfo.participants[2]
                                            .championId | championname
                                        }}"
                                    /></a>
                                  </td>
                                  <td>
                                    <div>
                                      <a
                                        class="victory-text4 "
                                        data-toggle="tooltip"
                                        title="{{
                                          matches.Matchinfo.participantIdentities[3]
                                            .player.summonerName
                                        }}"
                                      >
                                        {{
                                          matches.Matchinfo.participantIdentities[2]
                                            .player.summonerName.length > 10
                                            ? (matches.Matchinfo
                                                .participantIdentities[2].player
                                                .summonerName | slice: 0:10) +
                                              "..."
                                            : matches.Matchinfo
                                                .participantIdentities[2].player
                                                .summonerName
                                        }}
                                      </a>
                                    </div>
                                  </td>
                                </tr>
                                <tr>
                                  <td>
                                    <a
                                      ><img
                                        width="14"
                                        height="14"
                                        src="https://ddragon.leagueoflegends.com/cdn/{{
                                          version
                                        }}/img/champion/{{
                                          matches.Matchinfo.participants[3]
                                            .championId | championname
                                        }}.png"
                                        alt="{{
                                          matches.Matchinfo.participants[3]
                                            .championId | championname
                                        }}"
                                    /></a>
                                  </td>
                                  <td>
                                    <div>
                                      <a
                                        class="victory-text4 "
                                        data-toggle="tooltip"
                                        title="{{
                                          matches.Matchinfo.participantIdentities[4]
                                            .player.summonerName
                                        }}"
                                      >
                                        {{
                                          matches.Matchinfo.participantIdentities[3]
                                            .player.summonerName.length > 10
                                            ? (matches.Matchinfo
                                                .participantIdentities[3].player
                                                .summonerName | slice: 0:10) +
                                              "..."
                                            : matches.Matchinfo
                                                .participantIdentities[3].player
                                                .summonerName
                                        }}
                                      </a>
                                    </div>
                                  </td>
                                </tr>
                                <tr>
                                  <td>
                                    <a
                                      ><img
                                        width="14"
                                        height="14"
                                        src="https://ddragon.leagueoflegends.com/cdn/{{
                                          version
                                        }}/img/champion/{{
                                          matches.Matchinfo.participants[4]
                                            .championId | championname
                                        }}.png"
                                        alt="{{
                                          matches.Matchinfo.participants[4]
                                            .championId | championname
                                        }}"
                                    /></a>
                                  </td>
                                  <td>
                                    <div>
                                      <a
                                        class="victory-text4 "
                                        data-toggle="tooltip"
                                        title="{{
                                          matches.Matchinfo.participantIdentities[5]
                                            .player.summonerName
                                        }}"
                                      >
                                        {{
                                          matches.Matchinfo.participantIdentities[4]
                                            .player.summonerName.length > 10
                                            ? (matches.Matchinfo
                                                .participantIdentities[4].player
                                                .summonerName | slice: 0:10) +
                                              "..."
                                            : matches.Matchinfo
                                                .participantIdentities[4].player
                                                .summonerName
                                        }}
                                      </a>
                                    </div>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </div>

                          <div>
                            <table class="table-auto match-summoners-table">
                              <tbody>
                                <tr>
                                  <td>
                                    <a
                                      ><img
                                        width="14"
                                        height="14"
                                        src="https://ddragon.leagueoflegends.com/cdn/{{
                                          version
                                        }}/img/champion/{{
                                          matches.Matchinfo.participants[5]
                                            .championId | championname
                                        }}.png"
                                        alt="{{
                                          matches.Matchinfo.participants[5]
                                            .championId | championname
                                        }}"
                                    /></a>
                                  </td>
                                  <td>
                                    <div>
                                      <a
                                        class="victory-text4"
                                        data-toggle="tooltip"
                                        title="{{
                                          matches.Matchinfo.participantIdentities[5]
                                            .player.summonerName
                                        }}"
                                      >
                                        {{
                                          matches.Matchinfo.participantIdentities[5]
                                            .player.summonerName.length > 10
                                            ? (matches.Matchinfo
                                                .participantIdentities[5].player
                                                .summonerName | slice: 0:10) +
                                              "..."
                                            : matches.Matchinfo
                                                .participantIdentities[5].player
                                                .summonerName
                                        }}
                                      </a>
                                    </div>
                                  </td>
                                </tr>
                                <tr>
                                  <td>
                                    <a
                                      ><img
                                        width="14"
                                        height="14"
                                        src="https://ddragon.leagueoflegends.com/cdn/{{
                                          version
                                        }}/img/champion/{{
                                          matches.Matchinfo.participants[6]
                                            .championId | championname
                                        }}.png"
                                        alt="{{
                                          matches.Matchinfo.participants[6]
                                            .championId | championname
                                        }}"
                                    /></a>
                                  </td>
                                  <td>
                                    <div>
                                      <a
                                        class="victory-text4 "
                                        data-toggle="tooltip"
                                        title="{{
                                          matches.Matchinfo.participantIdentities[6]
                                            .player.summonerName
                                        }}"
                                      >
                                        {{
                                          matches.Matchinfo.participantIdentities[6]
                                            .player.summonerName.length > 10
                                            ? (matches.Matchinfo
                                                .participantIdentities[6].player
                                                .summonerName | slice: 0:10) +
                                              "..."
                                            : matches.Matchinfo
                                                .participantIdentities[6].player
                                                .summonerName
                                        }}
                                      </a>
                                    </div>
                                  </td>
                                </tr>
                                <tr>
                                  <td>
                                    <a
                                      ><img
                                        width="14"
                                        height="14"
                                        src="https://ddragon.leagueoflegends.com/cdn/{{
                                          version
                                        }}/img/champion/{{
                                          matches.Matchinfo.participants[7]
                                            .championId | championname
                                        }}.png"
                                        alt="{{
                                          matches.Matchinfo.participants[7]
                                            .championId | championname
                                        }}"
                                    /></a>
                                  </td>
                                  <td>
                                    <div>
                                      <a
                                        class="victory-text4 "
                                        data-toggle="tooltip"
                                        title="{{
                                          matches.Matchinfo.participantIdentities[7]
                                            .player.summonerName
                                        }}"
                                      >
                                        {{
                                          matches.Matchinfo.participantIdentities[7]
                                            .player.summonerName.length > 10
                                            ? (matches.Matchinfo
                                                .participantIdentities[7].player
                                                .summonerName | slice: 0:10) +
                                              "..."
                                            : matches.Matchinfo
                                                .participantIdentities[7].player
                                                .summonerName
                                        }}
                                      </a>
                                    </div>
                                  </td>
                                </tr>
                                <tr>
                                  <td>
                                    <a
                                      ><img
                                        width="14"
                                        height="14"
                                        src="https://ddragon.leagueoflegends.com/cdn/{{
                                          version
                                        }}/img/champion/{{
                                          matches.Matchinfo.participants[8]
                                            .championId | championname
                                        }}.png"
                                        alt="{{
                                          matches.Matchinfo.participants[8]
                                            .championId | championname
                                        }}"
                                    /></a>
                                  </td>
                                  <td>
                                    <div>
                                      <a
                                        class="victory-text4 "
                                        data-toggle="tooltip"
                                        title="{{
                                          matches.Matchinfo.participantIdentities[8]
                                            .player.summonerName
                                        }}"
                                      >
                                        {{
                                          matches.Matchinfo.participantIdentities[8]
                                            .player.summonerName.length > 10
                                            ? (matches.Matchinfo
                                                .participantIdentities[8].player
                                                .summonerName | slice: 0:10) +
                                              "..."
                                            : matches.Matchinfo
                                                .participantIdentities[8].player
                                                .summonerName
                                        }}
                                      </a>
                                    </div>
                                  </td>
                                </tr>
                                <tr>
                                  <td>
                                    <a
                                      ><img
                                        width="14"
                                        height="14"
                                        src="https://ddragon.leagueoflegends.com/cdn/{{
                                          version
                                        }}/img/champion/{{
                                          matches.Matchinfo.participants[9]
                                            .championId | championname
                                        }}.png"
                                        alt="{{
                                          matches.Matchinfo.participants[9]
                                            .championId | championname
                                        }}"
                                    /></a>
                                  </td>
                                  <td>
                                    <div>
                                      <a
                                        class="victory-text4 "
                                        data-toggle="tooltip"
                                        title="{{
                                          matches.Matchinfo.participantIdentities[9]
                                            .player.summonerName
                                        }}"
                                      >
                                        {{
                                          matches.Matchinfo.participantIdentities[9]
                                            .player.summonerName.length > 10
                                            ? (matches.Matchinfo
                                                .participantIdentities[9].player
                                                .summonerName | slice: 0:10) +
                                              "..."
                                            : matches.Matchinfo
                                                .participantIdentities[9].player
                                                .summonerName
                                        }}
                                      </a>
                                    </div>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>